/*@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /*height: 60px;*/ /* Set the height of your footer here */
}
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
}

/* Solucion al padding que genera el modal al abrirse */
.modal-open {
  padding-right: 17px;
}


/* Style for the user profile picture */
.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }

/* Boostrap Icons */ 
.bi {
  font-size: 24px;
}
button i {
  margin: 0;
}
button .bi {
  position: relative;
  top: 0px;
}
button .bi-heart {
  position: relative;
  top: 2px;
}
button .bi-heart-fill {
  position: relative;
  top: 2px;
}

/* Style for the post image */
.post-img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
/* Center the post image */
.post-card {
  display: flex;
  justify-content: center;
  align-items: center;
  /*height: 100vh;*/
  margin: 0;
}
.post-card .card {
  max-width: 600px;
  width: 100%;
  margin: 0;
  border-radius: 0;
}

/* Form */
.narrow-section {
  max-width: 600px; /* Change the value to the width you prefer */
  width: 90%; /* Change the value to adjust the width */
}
